## Prepare

In [2]:
import numpy as np
import pandas as pd

# project modules
from acquire import get_wine_data

In [3]:
wine = get_wine_data()
wine.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6497 entries, 0 to 4897
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         6497 non-null   float64
 1   volatile acidity      6497 non-null   float64
 2   citric acid           6497 non-null   float64
 3   residual sugar        6497 non-null   float64
 4   chlorides             6497 non-null   float64
 5   free sulfur dioxide   6497 non-null   float64
 6   total sulfur dioxide  6497 non-null   float64
 7   density               6497 non-null   float64
 8   pH                    6497 non-null   float64
 9   sulphates             6497 non-null   float64
 10  alcohol               6497 non-null   float64
 11  quality               6497 non-null   int64
 12  is_red                6497 non-null   int64
dtypes: float64(11), int64(2)
memory usage: 710.6 KB

In [4]:
# this appears to be very clean data. there are no nulls.
# all dtypes are numbers

In [6]:
wine.quality.value_counts()

6    2836
5    2138
7    1079
4     216
8     193
3      30
9       5
Name: quality, dtype: int64

In [7]:
wine.quality.min()

3

In [8]:
wine.quality.max()

9

In [9]:
wine[(wine.is_red == 1)].quality.max()

8

In [10]:
wine[(wine.is_red == 0)].quality.max()

9

In [11]:
wine[(wine.is_red == 1)].quality.min()

3

In [12]:
wine[(wine.is_red == 0)].quality.min()

3

In [13]:
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,is_red
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1

In [14]:
# the dtypes all look appropriate. Going to proceed to exploration for now.